.display-4 {
  font-size: 30px;
  background-color: #edc280;
  color: white; }

.viki-1-1 {
  font-size: 22px; }

.main-titles {
  font-size: 18px;
  text-align: left;
  color: #37652b; }

#online {
  background-color: #e6ac54;
  text-shadow: 1px 1px 1px black; }

h3 {
  text-align: left !important; }
